*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color:whitesmoke;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
} 
h2{
    color: white;
    text-align: center;
    padding: 5px;
}
.sidebar{
    position: relative;
    background-color: #0A3069;
    width: 45vh;
    height: 100vh;
} 

.sidebar ul li a{
    display: block;
    color: white;
    border-radius: 5px;
   margin: 20px;
   font-size: 20px;
   padding: 10px 30px;
   border-left: 4px solid #0A3069;
}
.log{
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
}
.fa-regular{
   margin-right: 15px;
}
.fa-solid{
   margin-right: 15px;
}
.sidebar ul li a:hover{
    background-color: rgba(203, 203, 203, 0.487);
    color: white;
    border-left: 5px solid rgba(1, 166, 188, 0.542);
    
}
