h1::after{
   content: " Bahor";
   
   background-color: chocolate;
   color: chartreuse;
}
h1::before{
    content:" Dunya";
    background-color: yellow;
    color: red;
}
.line{
    width: 450px;
    height: 50px;
    border-radius: 25px;
    background-color: darkgrey;
    color: chocolate;
}
.line:hover::before{
    background-color: red;
    width: 350px;
    height: 50px;
   
}
li::first-line{
    background-color: crimson;
}
li:hover::before{
    background-color: darkblue;
}
